* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
  
    font-family: Arial, sans-serif;
    font-size: 14px;
}

a{
    color: #444444;
}

a:hover, a:focus, a:active {
    color: #196617;
}

.btn-lp {
    background: #196518;
    color: #fff!important;
    padding: 5px 25px;
    text-decoration: none;
    border-radius: 35%;
    margin-bottom: 10px;
    display: inline-block;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

button,.btn {
    border: 0;
    min-height: 30px;
    padding: 0 30px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn-default{
    background: #196617;
    color: #ffffff;
    font-size: 14px;
    line-height: 2;
}

.btn-default:hover,
.btn-default:focus{
    background: #0fa90c;
}

.btn-lg{
    padding: 5px 30px;
    font-size: 14px;
    min-width: 200px;
    text-transform: uppercase;
}

.btn-block{
    width: 100%!important;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password]{
    border: 1px solid #444444;
    height: 30px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px;
}

select{
    height: 40px;
    font-size: 14px;
    display: block;
}

img{
    max-width: 100%;
}

.center-block{
    margin: 0 auto;
}

.header {
    padding: 5px 0;
}

.site-title{
    font-size: 28px;
    font-weight: 500;
}

.site-title a{
    color: #000;
    text-decoration: underline;
}

.site-title a:hover,
.site-title a:focus{
    color: #ffffff;
    background: #196617;
    text-decoration: none;
}

.opr{
    color: #222;
}

.opr a:hover{
    text-decoration: none;
}
.opr a{
    color: #222;
}
.top-nav{
    padding: 0;
    margin: 5px 0;
    list-style-type: none;
    display: inline-block;
    float: right;
}

.top-nav li {
    display: inline-block;
}

.top-nav li a {
    color: #196617;
    padding: 0 5px;
    font-size: 14px;
}

.top-nav li a:hover{
    color: #ffffff;
    background: #196617;
    text-decoration: none;
}
.mt15{
    margin-top: 15px;
}

.text-red{
    color: #c62828!important;
}

.text-left{
    text-align: left!important;
}

.text-right{
    text-align: right!important;
}

.text-center{
    text-align: center!important;
}

.text-bold{
    font-weight: 800;
}

.content-dark{
    background: #ffffff;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    margin: 10px 0;
    overflow: hidden;
}

.page-title{
    padding: 0 15px;
}

.content-dark h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
}

.content-dark h5{
    padding: 0 15px;
}

.content-light{
    background: #ffffff;
    padding: 15px;
}

.content-light p{
    line-height: 1.5;
}

.content-light img {
    height: auto!important;
}

.content-light .time-posted{
    padding: 0 5px;
    color: #c62828;
}

.content-light ul > li > a:hover .time-posted{
    color: #ffffff!important;
}

.content-light ul{
    list-style: none;
    padding: 0 ;
    margin:  0;
}

.content-light ul > li{
    padding: 5px 0;
}

.content-light ul > li > a {
    color: #444444;
    font-weight: 600;
}

.content-light ul > li > a:hover,
.content-light ul > li > a:focus{
    color: #ffffff;
    background: #196617;
    text-decoration: none;
}

.content-light .share-post{
    border-top:  2px dashed #efefef;
    border-bottom:  2px dashed #efefef;
    padding: 15px 0;
}

.content-light .share-post h4{
    padding: 0;
}

.content-light .share-post ul{
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0;
}

.content-light .share-post ul li{
    display: inline-block;
}

.content-light .share-post ul li > a{
    background: #1a6f16;
    height: 25px;
    width: 25px;
    display: block;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    color: #fff;
}

.content-light .share-post ul li > a:hover,
.content-light .share-post ul li > a:focus{
    background: #2aa323;
}

.content-light .share-post ul li > a i{
    vertical-align: middle;
}

.content-light .share-post h4{
    margin: 0;
    display: inline-block;
}

.related-posts{
    list-style: none;
    padding: 0;
    margin: 0;
}

.related-posts li{
    padding: 8px 0;
}

.related-posts li a{
    font-size: 14px;
}

.container-search{
    max-width: 400px;
    margin: 0 auto;
    display: table;
}

.container-search input,
.container-search button {
    float: left;
}

.container-search input{
    max-width: 280px;
    width: 70%;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    font-size: 14px;
}

.container-search button{
    border-radius: 0 5px 5px 0;
    width: 30%;
}

.main-navbar .content-dark{
    padding: 0;
}

.main-navigation,
.account-menu{
    padding: 5px 0;
    margin: 0;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    display: inline-block;
    position: relative;
}

.main-navigation .main-menu li:first-child a {
    padding-left: 0;
}

.main-navigation a,
.account-menu a{
    color: #000;
    font-weight: 700;
    display: inline-block;
    padding: 0 5px;
    line-height: 1.8;
    font-size: 14px;
}

.main-navigation a:hover,
.main-navigation a:focus{
    color: #ffffff;
    background: #196617;
    text-decoration: none;
}

.main-navigation a.text-red,
.account-menu a.text-red{
    text-decoration: none;
}

.main-navigation a.text-red:hover,
.account-menu a.text-red:hover {
    background: none!important;
}

.main-navigation:nth-child(even),
.account-menu:nth-child(even){
    background: #E8ECE1;
}

.account-menu li {
    display: inline-block;
}

.widget{
    margin-bottom: 0;
}


.mobile-only{
    display: none;
}


.desktop-only{
    display: block;
}

.col-15{
    width: 14%;
    float: left;
}

.col-25{
    width: 26%;
    float: left;
}

.col-50{
    width: 50%;
    float: left;
}

.col-58{
    width: 58%;
    float: left;
}

.col-75{
    width: 73%;
    float: left;
    margin-left: 0!important;
}

.col-100{
    width: 100%;
    float: left;
}

.content-middle{
    margin: 0 12px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0 0;
    border-radius: 4px;
}

.pagination .nav-links {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.pagination .nav-links .current, .pagination .nav-links .current:hover, .pagination .nav-links a:hover {
    border-color: transparent;
    text-decoration: none;
    color: #fff;
    background-color: #444;
}

.pagination .nav-links a, .pagination .nav-links span {
    display: block;
    float: left;
    height: 30px;
    margin: 0 5px 5px 0;
    padding: 0 1em;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.nav-links a {
    text-decoration: none;
    color: #444444;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.headlines a > span.text {
    text-decoration: underline;
}

.headlines a > span.text:hover{
    color: #ffffff;
    background: #196617;
    text-decoration: none;
}

.headlines a {
    text-decoration: none;
}

.post-author{
    color: #444444;
}

.post-cat a{
    color: #444444;
    padding: 0 5px;
}

.forum-cat li {
    background: #E8ECE2;
    margin: 10px 0;
    padding: 10px 20px!important;
    border-radius: 10px;
}

.forum-cat li > a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
}

.form-group{
    margin: 0 0 20px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"]{
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.form-group input[disabled]{
    background: #eee;
    cursor: not-allowed;
}

.form-group label .required{
    color: #e53935;
}

.form-group label > input{
    margin-top: 20px;
}

.form-group label{
    padding: 10px 0;
    font-weight: 600;
}

.form-group label > input[type="file"],
.form-group label > textarea{
    display: block;
}

.form-group label > textarea{
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px;
}

.form-group label > select{
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
}

.form-group label > img{
    display: block;
    margin-top: 20px;
}

.form-group .btn-default{
    border-radius: 5px;
}

.cke_editor_editor{
    margin-top: 20px!important;
}

.order-summary{
    padding: 15px;
    border-top:  2px dashed #efefef;
    border-bottom:  2px dashed #efefef;
}

.order-summary h2,
.order-summary h4{
    margin: 5px 0 0;
}

.order-summary .form-group{
    margin-bottom: 0;
}

.order-summary h2 {
    font-size: 26px;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.reg-content{
    position: relative;
    display: table;
    width: 100%;
}

.reg-content .product-description {
    padding: 30px;
}

.reg-content .product-description > .read-more{
    color: #444;
}

.reg-content .product-description .price{
    color: #c62828;
    font-weight: 600;
    font-size: 16px;
}

.reg-content .product-description > .btn{
    display: block;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 15px 0;
    text-align: center;
}

.reg-content .product-description > .btn:hover,
.reg-content .product-description > .btn:focus{
    color: #ffffff;
}

.celeb-grid{
    margin-top: 30px;
    text-align: center;
}

.celeb-grid .btn {
    padding: 0 8px;
    margin: 5px 0;
    display: inline-block;
    max-width: 77px;
    width: 100%;
    font-size: 14px;
}

.celeb-grid .text-link{
    height: 30px;
    display: inline-block;
    font-size: 13px;
    color: #e53935;
    line-height: 3;
}

.celeb-grid .btn:hover,
.celeb-grid .btn:focus{
    color: #ffffff!important;
}

.celeb-filter {
    text-align: center;
}

.celeb-filter li {
    display: inline-block;
    padding: 0 5px!important;
}

.profile-header{
    display: table;
    width: 100%;
}

.profile-header .col{
    margin: 5px 0;
}

.profile-header img,
.profile-header h2{
    display: inline-block;
    vertical-align: middle;
}

.profile-header .earnings h2{
    display: block!important;
    margin: 0!important;
    padding: 2px!important;
}

.profile-header h2{
    padding: 10px;
    font-weight: 300;
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
}

.profile-header h2 .btn {
    display: block;
    border-radius: 5px;
    color: #fff!important;
}

.profile-header .earnings {
    border: 1px solid #444;
    border-radius: 10px;
    padding: 10px;
    background: #F6F6EE;
}

/*.profile-header h2 strong {*/
    /*margin-top: 5px;*/
    /*display: block;*/
/*}*/

.account-content{
    display: table;
    width: 100%;
}

.account-content .col {
    /*padding: 0 10px;*/
}

.account-content h2{
    font-weight: 300;
}

.account-content h2.sub-title{
    border-top:  2px dashed #efefef;
    border-bottom:  2px dashed #efefef;
    padding: 10px 0;
    margin: 10px 0 15px;
}

.card{
    border-radius: 10px;
    color: #ffffff;
    padding: 20px;
    margin: 5px;
}

.card h2 small{
    font-weight: 300;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.card-black{
    background: #4E585E;
}

.card-light{
    background: #eeeeee;
}

.card-green{
    background: #196617;
}

.card-red{
    background: #c62828;
}

.img-circle{
    border-radius: 50%;
}

.banner-container{
    background: #f6f6f6;
    margin: 10px 0;
    border: 2px solid #444444;
}

.banner-container .heading{
    background: #196617;
    color: #ffffff;
    padding: 2px 0;
    text-align: center;
}

.banner-container .body{
    padding: 15px;
}

.banner-container textarea{
    width: 100%;
    min-height: 80px;
    padding: 5px;
}
.textarea{
	resize:none;
}
footer {
    width: 100%;
    display: table;
}

.online-stats h4, .online-stats h5 {
    margin: 5px 0 0;
    font-size: 14px;
}

footer .content-dark{
    margin-bottom: 0;
    padding: 15px 0;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu li{
    display: inline-block;
    padding: 0 5px;
}

.footer-menu li > a{
    color: #444444;
    font-size: 14px;
}

.footer-menu li > a:hover,
.footer-menu li > a:focus{
    color: #ffffff;
    background: #196617;
    text-decoration: none;
}

.copyright p{
    font-size: 14px;
    color: #444444;
    margin-bottom: 0;
}

.back-top {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9998;
    opacity: 0;
    filter: alpha(opacity=70);
    background: #c62828;
    text-align: center;
    padding: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

.back-top:hover{
    background: #e53935;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}

.back-top.show {
    opacity: 0.85;
    display: block!important;
}

.back-top i{
    font-size: 40px;
    color: #fff;
}

.payment-filter input,
.payment-filter select{
    display: inline-block;
    width: auto!important;
    margin: 0 5px;
    padding: 0 10px!important;
}

.payment-filter select{
    border: 1px solid #444444;
}

.payment-filter .btn-default{
    height: 40px;
}

.table-responsive-vertical .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
    background-color: #fff;
}
.table-responsive-vertical .table > thead > tr,
.table-responsive-vertical .table > tbody > tr,
.table-responsive-vertical .table > tfoot > tr {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.table-responsive-vertical .table > thead > tr > th,
.table-responsive-vertical .table > tbody > tr > th,
.table-responsive-vertical .table > tfoot > tr > th,
.table-responsive-vertical .table > thead > tr > td,
.table-responsive-vertical .table > tbody > tr > td,
.table-responsive-vertical .table > tfoot > tr > td {
    text-align: left;
    padding: 10px;
    font-size: 14px;
    vertical-align: top;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.table-responsive-vertical .table > thead > tr > th {
    color: #121212;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
    font-size: 12px;
}
.table-responsive-vertical .table > tbody > tr > td .btn-action{
    margin: 5px 0;
}
.table-responsive-vertical .table > caption + thead > tr:first-child > th,
.table-responsive-vertical .table > colgroup + thead > tr:first-child > th,
.table-responsive-vertical .table > thead:first-child > tr:first-child > th,
.table-responsive-vertical .table > caption + thead > tr:first-child > td,
.table-responsive-vertical .table > colgroup + thead > tr:first-child > td,
.table-responsive-vertical .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.table-responsive-vertical .table > tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.table-responsive-vertical .table {
    background-color: #fff;
}
.table-responsive-vertical tr:nth-child(even) {
    background-color: #f9f9f9;
}
th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

.nars-record .btn{
    border-radius: 5px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}